.list-posts{
    position: relative;
    float: center;
    align-items: center;
    justify-content: center;
    top: 50px;
}

.alert-primary {
    background: bisque;
    border-radius: 4%;
    border-color: bisque;
    height: 20vh;
}
.alert-primary button{
    position: relative;
    right: -50vh;
    background-color:  #C38346;
    border-radius: 8%;
    width: 100px;
    border:solid 2px #C38346;
    font-weight: bold;
    color: wheat;
    top: -80px;
}

.alert-primary p{
    color: black;
    font-family: unset;
    font-weight: bold;
    padding-top: 0%;
    padding-bottom: 0%;
    font-size: 12px;
}
.alert-primary h4{
    color: black;
    font-family: unset;
    font-weight: bold;
    padding-top: 0%;
    padding-bottom: 0%;
    font-size: 16px;
}

h2{
    position: relative;
    margin-top: 10%;
    font-size: 16px;
    text-align: center;
}