.form-container {
    margin: 0px auto;
    width: 800px;
    box-shadow: #fff;
    position: relative;
    border-radius: 10px;
    height: 580px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .form-content-left {
    width: 60vh;
    background: #C38346;
    border-radius: 10px 0 0 10px;
    position: relative;
    background-image: url('../tutor.png');
    background-repeat: no-repeat;
    background-position: center bottom ;
    background-size: 100% 70%;
  }
  
  .form-content-left p {
    font-family: Rosario;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    position: absolute;
    width: 250px;
    left: 100px;
    top: 40px;
  }

  .form-img {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .form-content-right {
    border-radius: 0 10px 10px 0;
    position: relative;
    background: #fff;
    border:0;
    width: 70vh;
  }
  
  
  .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  
  .form h1 {
    font-size: 1rem;
    text-align: start;
    width: 100%;
    margin-bottom: 1rem;
    color: #000000;
  }
  
  .form-inputs {
    margin-bottom: 0.1rem;
    width: 90%;
    
  }
 
  .form-inputs input{
    border: 2px solid #000000
  }

  .form-inputs p {
    font-size: 0.6rem;
    margin-top: 0.1rem;
    color: #f00e0e;
    margin-bottom: -0.4rem;
  }
  
  .form-label {
    display: inline-block;
    font-size: 0.8rem;
    margin-bottom: 6px;
    color:#000000 ;
  }

  .form-label h1{
    display: inline;
    color: red;
  }
  
  .form-input {
    display: block;
    padding-left: 10px;
    outline: none;
    height: 25px;
    width: 100%;
    border-color: #000000;
  }
  
  .form-input::placeholder {
    color:gray;
    font-size: 12px;
  }
  
  .form-input-btn {
    width: 25%;
    height: 30px;
    margin-top: 10px;
    border-radius: 2px;
    background:#C38346;
    outline: none;
    border: none;
    color: #000000;
    font-size: 1rem;
    position: relative;
    left: 40vh;
  }
  
  .form-input-btn:hover {
    cursor: pointer;
    background: #C38346;
    transition: all 0.2s ease-out;
  }
  
  i {
    position: relative;
    left: 52vh;
    bottom: 3.4vh;
    cursor: pointer;
    
  }

  i:hover {
    color: #C38346;
    cursor: pointer;
  }
